services:
  api:
    build:
      context: ../backend
    image: mon-saas-ia-api:local
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db


  frontend:
    build:
      context: ../frontend
    image: mon-saas-ia-frontend:local
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  dbdata:
